@{
	var body string
	var header string
	var footer string
	var navigation string
}
<!DOCTYPE html>
<html>
<body>

<header>
@header
</header>

<nav>
@navigation
</nav>

<section>
@body
</section>

<footer>
@footer
</footer>

</body>
</html>