package templbench

import "github.com/SlinSo/goTemplateBenchmark/model"

templ SimpleTempl(u *model.User) {
	<html>
		<body>
			<h1>{ u.FirstName }</h1>
			<p>Here's a list of your favorite colors:</p>
			<ul>
				for _, colorName := range u.FavoriteColors {
					<li>{ colorName }</li>
				}
			</ul>
		</body>
	</html>
}
